body {
    width: 100%;
    background-image: url('../img/horizontal.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#cuerpo {
    width: 100%;
}

#izquierda {
    width: 20%;
    float: left;
    margin: 3% 0 0 5%;
}

#izquierda a.controles {
    font-size: 1em;
    text-align: center;
    color: grey;
    text-decoration: none;
    display: block;
    border: solid 1px black;
    padding: 3% 0;
}

#centro {
    width: 50%;
    float: left;
    text-align: center;
}

#centro img {
    width: 50%;
    height: 25%;
    align: center;
}

#derecha {
    width: 20%;
    float: right;
    margin: 3% 5% 0 0;
}

#derecha a.controles {
    font-size: 1em;
    text-align: center;
    color: red;
    text-decoration: none;
    display: block;
    border: solid 1px black;
    padding: 3% 0;
}

.controles:hover {
    padding: 5% 3%;
}

.botones,
.indicadores {
    display: none !important;
}

#abajo {
    position: fixed;
    bottom: 0;
}

#abajo img {
    width: 100%;
}

#abajo a {
    width: 10%;
    color: white;
    text-decoration: none;
    text-align: right;
    display: none;
}


/*-------------------------MEDIAQUERIES---------------------------*/

@media screen and (min-width: 400px) and (max-width: 768px) {
    #izquierda {
        width: 30%;
        float: left;
        margin: 3% 0 0 2%;
    }
    #izquierda a.controles {
        font-size: 1em;
        text-align: center;
        color: grey;
        text-decoration: none;
        display: block;
        border: solid 1px black;
        padding: 3% 0;
    }
    #centro {
        width: 35%;
        float: left;
        text-align: center;
    }
    #centro img {
        width: 100%;
        height: 25%;
        align: center;
    }
    #derecha {
        width: 30%;
        float: right;
        margin: 3% 2% 0 0;
    }
    #derecha a.controles {
        font-size: 1em;
        text-align: center;
        color: red;
        text-decoration: none;
        display: block;
        border: solid 1px black;
        padding: 3% 0;
    }
    .controles:hover {
        padding: 5% 3%;
    }
}

@media screen and (max-width: 400px) {
    #cuerpo {
        width: 100%;
    }
    #izquierda {
        width: 20%;
        float: left;
        margin: 3% 0 0 5%;
    }
    #centro {
        width: 50%;
        float: center;
        text-align: center;
    }
    #centro img {
        width: 100%;
        height: 20%;
        align: center;
    }
    #derecha {
        width: 20%;
        float: right;
        margin: 3% 5% 0 0;
    }
    .controles {
        display: none !important;
    }
    .botones {
        width: 100%;
        display: inline-block !important;
    }
    .botones img {
        width: 100%;
        margin: 5%;
        padding: 3%;
    }
    .botones img:hover {
        padding: 5%;
    }
    .indicadores {
        width: 100%;
        margin: 5%;
        padding: 4%;
        display: inline-block !important;
        float: none;
    }
    .indicadores:hover {
        padding: 6%;
    }
    #abajo {
        position: fixed;
        bottom: 0;
    }
    #abajo img {
        width: 100%;
    }
}