body {
    width: 100%;
    background-image: url('../img/horizontal.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#cuerpo {
    width: 100%;
}

#izquierda {
    width: 20%;
    float: left;
    margin: 3% 0 0 5%;
}

#izquierda a {
    text-align: center;
    color: grey;
    text-decoration: none;
    display: block;
    padding: 3%;
    border: solid 1px black;
}

#centro {
    width: 50%;
    float: left;
    text-align: center;
}

#centro img {
    width: 35%;
    align: center;
}

#derecha {
    width: 20%;
    float: right;
    margin: 3% 5% 0 0;
}

#derecha a {
    text-align: center;
    color: red;
    text-decoration: none;
    display: block;
    padding: 3%;
    border: solid 1px black;
}

.controles:hover {
    font-size: 25px;
}

#abajo {
    position: fixed;
    bottom: 0;
}

#abajo img {
    width: 100%;
}